@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.fundo {
    background-color: blue;
}

/* .quem-somos {
    background-color: aquamarine;
} */

.integrantes {
    background-color: beige;
    padding-top: 0px;
}

.social {
    font-size: 140px;
}

.integrante {
    /* background-color: aquamarine; */
    padding-top: 25px;
    padding-bottom: 10px;
}

.margens {
    /* background-color: aqua; */
    padding-top: 0px;
    padding-bottom: 50px;
}

.social-media {
    padding-bottom: 10px;
    border-bottom: 2px groove;
    /* border-style: groove; */
}

.margen-top {
    padding-top: 20px;
}